:root {
    --opacity-0: 0;    /* 0% */
    --opacity-10: 0.1; /* 10% */
    --opacity-20: 0.2; /* 20% */
    --opacity-30: 0.3; /* 30% */
    --opacity-40: 0.4; /* 40% */
    --opacity-50: 0.5; /* 50% */
    --opacity-60: 0.6; /* 60% */
    --opacity-70: 0.7; /* 70% */
    --opacity-80: 0.8; /* 80% */
    --opacity-90: 0.9; /* 90% */
    --opacity-100: 1;  /* 100% */
}

