:root {
    --size-1: 4px;   /* 1 * 4 */
    --size-2: 8px;   /* 2 * 4 */
    --size-3: 12px;  /* 3 * 4 */
    --size-4: 16px;  /* 4 * 4 */
    --size-5: 20px;  /* 5 * 4 */
    --size-6: 24px;  /* 6 * 4 */
    --size-7: 28px;  /* 7 * 4 */
    --size-8: 32px;  /* 8 * 4 */
    --size-9: 36px;  /* 9 * 4 */
    --size-10: 40px; /* 10 * 4 */
    --size-11: 44px; /* 11 * 4 */
    --size-12: 48px; /* 12 * 4 */
    --size-13: 52px; /* 13 * 4 */
    --size-14: 56px; /* 14 * 4 */
}

