:root {
    --fw-medium: 500; /* Medium */
    --fw-semibold: 600; /* Semibold */
    --fw-bold: 700; /* Bold */

    /* Font Sizes */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-30: 30px;

    /* Line Heights */
    --flh-100: 100%; /* 1.0 */
    --flh-110: 110%; /* 1.1 */
    --flh-120: 120%; /* 1.2 */
    --flh-130: 130%; /* 1.3 */
    --flh-140: 140%; /* 1.4 */
    --flh-150: 150%; /* 1.5 */
    --flh-160: 160%; /* 1.6 */
}
 